<!--
    <div *ngIf="hardware.price < 100"  class="list-group-item list-group-item-dark col-md-6 ms-2">
    <div><span>Ovaj hardver se ne može kupiti na rate.</span></div>
</div>
<div *ngIf="(hardware.price >= 100 && hardware.price < 399)"  class="list-group-item list-group-item-dark col-md-6 ms-2">
    <div><span>Ovaj hardver se može kupiti na 6 rata.</span></div>
</div>
<div *ngIf="(hardware.price > 400 && hardware.price < 799)"  class="list-group-item list-group-item-dark col-md-6 ms-2">
    <div><span>Ovaj hardver se može kupiti na 12 rata.</span></div>
</div>
<div *ngIf="hardware.price >= 800"  class="list-group-item list-group-item-dark col-md-6 ms-2">
    <div><span>Ovaj hardver se može kupiti na 24 rata.</span></div>
</div>

-->