<h2 class="ms-2">List of hardware</h2>
<ul class="list-group hardwares mb-5">
    <div class="row col-md-4 ms-2">
        <li class="list-group-item list-group-item-action liForComponent"
            *ngFor="let hardware of hardwares"
            (click)="onSelect(hardware)"
            [class.selected]="hardware === selectedHardware"
            [routerLink]="['/hardwares/detail', hardware.code]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pc-display pcSVG" viewBox="0 0 16 16">
                <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
              </svg>
              <span class="ms-3 componentSpan">{{hardware.code}}</span>
              <span class="ms-3 componentSpan">{{hardware.name}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square editSVG" viewBox="0 0 16 16" (click)="editHardware(hardware.code)">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x deleteSVG" viewBox="0 0 16 16" (click)="deleteHardware(hardware)">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
    
        </li>
    </div>

</ul>


<div class="row col-md-3 ms-2">
    <h3>Unesi novi hardware</h3>
    <div>
        <label>Kod:
            <div>
                <input #hardwareCode />
            </div>
        </label>
    </div>
    <div>
        <label>Naziv:
            <div>
                <input #hardwareName />
            </div>
        </label>
    </div>
    <div>
        <label>Cijena:
            <div>
                <input type="number" #hardwarePrice />
            </div>
        </label>
    </div>
    <div>
        <label>Tip:
            <div>
                <select #hardwareType >
                    <option value="CPU">CPU</option>
                    <option value="GPU">GPU</option>
                    <option value="MBO">MBO</option>
                    <option value="RAM">RAM</option>
                    <option value="STORAGE">STORAGE</option>
                    <option value="OTHER">OTHER</option>
                </select>
            </div>
        </label>
    </div>
    <div>
        <label>Broj artikala:
            <div>
                <input type="number" #hardwareAvailable />
            </div>
        </label>
    </div>

    <button 
        class="col-md-5 mt-2 ms-2"
    (click)="
        add(hardwareCode.value, hardwareName.value, +hardwarePrice.value, hardwareType.value, +hardwareAvailable.value); 
        hardwareName.value=''; 
        hardwareCode.value=''; 
        hardwarePrice.value=''; 
        hardwareType.value='CPU'; 
        hardwareAvailable.value=''">
        Unesi hardver
    </button>
</div>

<router-outlet></router-outlet>

<!--<app-hardware-detail [hardware]="selectedHardware"></app-hardware-detail>-->
<!-- <app-hardware-price [hardware]="selectedHardware"></app-hardware-price> -->
